<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>はいじめてのVue.js</title>
    <script src="https://unpkg.com/vue@2.6.11/dist/vue.js"></script>
    <style></style>
  </head>
  <body>
    <div id="app">
      <ul>
        <li v-for="item in items" v-bind:key="item.name">
          {{ item.name }}の個数:
          <input
            type="number"
            v-on:change="item.quantity = $event.target.value"
            v-bind:value="item.quantity"
            min="0"
          />
        </li>
      </ul>
      <hr />
      <!-- 千円以上になるまで、赤く表示する -->
      <div :style="errorMessageStyle">
        <ul>
          <li v-for="item in items" v-bind:key="item.name">
            {{ item.name }}: {{ item.price }} x {{ item.quantity }} = {{
            item.price * item.quantity | numberWithDelimiter}}円
          </li>
        </ul>

        <p>
          {{ items[0].name }}: {{ items[0].price }} x {{ items[0].quantity }}
        </p>
        <p>小計: {{ totalPrice | numberWithDelimiter }}円</p>
        <p>合計(税込): {{ totalPriceWithTax | numberWithDelimiter }}円</p>
        <p v-show="!canBuy">
          {{ 1000 | numberWithDelimiter }}円以上から購入いただけます。
        </p>
        <button v-bind:disabled="!canBuy" v-on:click="doBuy">購入</button>
      </div>
      <input type="number" min="0" value="0" />
      <!-- <p>{{ items[0].price * items[0].quantity }}</p> -->
      <!-- <p>フィルタ処理例 {{1 | numberWithDelimiter | numberWithDelimiter}}</p>
      <p>フィルタ処理例 {{2 | numberWithDelimiter}}</p>
      <p>フィルタ処理例 {{32 | numberWithDelimiter}}</p>
      <p>フィルタ処理例 {{ items[0].quontity | numberWidthDelimiter}}</p>
      <p>合計: {{ totalPrice }}</p> -->

      <!-- <p v-bind:class="{error: !canBuy}"></p> -->
    </div>
    <!-- /#app -->
    <div id="fruits-list">
      <fruits-list-title></fruits-list-title>
      <fruits-list-description></fruits-list-description>
      <fruits-list-table></fruits-list-table>
    </div>
    <main id="main">
      <fruits-list></fruits-list>
    </main>

    <div id="fruits-list">
      <fruits-list-title></fruits-list-title>
    </div>

    <script>
      var FruitsListTitle = Vue.extend({
        template: "<h1>フルーツ一覧</h1>"
      });

      new FruitsListTitle().$mount("#fruits-list");

      Vue.component("fruits-list-title", FruitsListTitle);
      // 親子関係
      Vue.component("fruits-list-title", {
        template: "<h1>フルーツ一覧</h1>"
      });

      Vue.component("fruits-list", {
        template: "<div><fruits-list-title></fruits-list-title></div>"
      });

      new Vue({ el: "#main" });
      // component
      Vue.component("fruits-list-description", {
        template: "<p>季節の代表的なフルーツの一覧です</p>"
      });
      Vue.component("fruits-list-table", {
        template: `
        <table>
          <tr>
            <th>季節</th>
            <th>フルーツ</th>
          </tr>
          <tr>
            <th>春</th>
            <th>いちご</th>
          </tr>
          <tr>
            <th>夏</th>
            <th>スイカ</th>
          </tr>
          <tr>
            <th>秋</th>
            <th>ぶどう</th>
          </tr>
          <tr>
            <th>冬</th>
            <th>みかん</th>
          </tr>
        </table>
      `
      });
      // マウント
      new Vue({
        el: "#fruits-list"
      });
      // console.assert(typeof Vue !== "undefined");
      var items = [
        {
          name: "鉛筆",
          price: "300",
          quantity: 0
        },
        {
          name: "ノート",
          price: "400",
          quantity: 0
        },
        {
          name: "消しゴム",
          price: "500",
          quantity: 0
        }
      ];

      var arr = ["い", "ろ", "は"];

      var vm = new Vue({
        el: "#app",
        data: {
          items: items,
          arr: arr
        },
        filters: {
          numberWithDelimiter: function(value) {
            if (!value) {
              return "0";
            }
            return value.toString().replace(/(\d)(?=(\d{3})+$)/g, "$1,");
          }
        },
        methods: {
          doBuy: function() {
            // 本来はここで、サーバと通信を行う
            alert(this.totalPriceWithTax + "円お買い上げ!");
            this.items.forEach(function(item) {
              item.quantity = 0;
            });
          }
        },
        computed: {
          //算出プロパティ
          totalPrice: function() {
            return this.items.reduce(function(sum, item) {
              return sum + item.price * item.quantity;
            }, 0);
          },
          totalPriceWithTax: function() {
            return Math.floor(this.totalPrice * 1.08);
          },
          sumFunc: function() {
            return this.items[0].quantity * 3;
          },
          canBuy: function() {
            return this.totalPrice >= 1000; // 1000円以上から購入可能にする
          },
          errorMessageClass: function() {
            return {
              error: !this.canBuy
            };
          },
          errorMessageStyle: function() {
            // canBuyが偽の時赤く表示する
            return {
              border: this.canBuy ? "" : "1px solid red",
              color: this.canBuy ? "" : "red"
            };
          }
        }
      });

      // window.vm = vm;
      // var vm1 = new Vue({
      //   el: "#b-button",
      //   data: {
      //     canBuy: "a",
      //     abc: false
      //   }
      // });
      // var app2 = new Vue({
      //   el: "#app-2",
      //   data: function() {
      //     return {
      //       count: 0,
      //       timeId: null
      //     };
      //   },
      //   created: function() {
      //     console.log("created");
      //     var that = this;
      //     //データに参照できる
      //     console.log(this.count);
      //     // DOM要素がひも付いていないので undefined
      //     console.log(this.$el);
      //     // タイマー処理を開始する
      //     this.timeId = setInterval(function() {
      //       that.count += 1;
      //     }, 1000);
      //   },
      //   mounted: function() {
      //     console.log("mounted");
      //     // DOM要素が紐づいている
      //     console.log(this.$el);
      //   },
      //   beforeDestroy: function() {
      //     console.log("beforeDetroy");
      //     // タイマーの後始末を行う
      //     clearInterval(this.timeId);
      //   }
      // });
      window.vm = vm;
    </script>
  </body>
</html>
